<div class="main-content">
    <div class="glass-container">
        <img src="https://via.placeholder.com/180" alt="Profile Picture" class="profile-pic">
        <b class="employee-text">Employee</b>
        <div class="details-container">
            <p>John Ron Diza</p>
            <p>Birthday: November 6, 2003</p>
            <p>
                Department: <select id="department" class="dropdown">
                    <option>Accounting</option>
                    <option>Human Resources</option>
                    <option>IT Department</option>
                    <option>Marketing</option>
                    <option>Operations</option>
                </select>
                
            </p>
        </div>
        <div class="button-container">
            <button class="cancel-btn">Cancel</button>
            <button class="save-btn">Save</button>
        </div>
    </div>
</div>
