<div class="signup-container">
  <div class="signup-form">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <label for="fullname">Name:</label>
      <input type="text" id="signup-name" formControlName="fullname" placeholder="Full Name" required />
      <div *ngIf="fullname?.invalid && fullname?.touched">
        <small *ngIf="fullname?.errors?.['required']">Name is required.</small>
        <small *ngIf="fullname?.errors?.['minlength']">Name must be at least 3 characters long.</small>
      </div>

      <label for="email">Email:</label>
      <input type="email" id="signup-email" formControlName="email" placeholder="Email" required />
      <div *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.['required']">Email is required.</small>
        <small *ngIf="email?.errors?.['email']">Enter a valid email.</small>
      </div>

      <label for="password">Password:</label>
      <input type="password" id="signup-password" formControlName="password" placeholder="Password" required />
      <div *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.['required']">Password is required.</small>
        <small *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</small>
      </div>

      <label for="birthday">Birthday:</label>
      <input type="date" id="birthday" formControlName="birthday" required />
      <div *ngIf="birthday?.invalid && birthday?.touched">
        <small *ngIf="birthday?.errors?.['required']">Birthday is required.</small>
      </div>

      <label for="department">Department:</label>
      <select id="signup-department" formControlName="department" required>
        <option value="" disabled selected>Select Department</option>
        <option value="Accounting">Accounting</option>
        <option value="Human Resources">Human Resources</option>
        <option value="IT Department">IT Department</option>
        <option value="Marketing">Marketing</option>
        <option value="Operations">Operations</option>
      </select>
      <div *ngIf="department?.invalid && department?.touched">
        <small *ngIf="department?.errors?.['required']">Department is required.</small>
      </div>

      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
    <div class="login-link">
      <p>Already have an account? <a (click)="navigateToLogIn()">Log In</a></p>
    </div>
  </div>
  <div class="floating-object floating-object-1"></div>
    <div class="floating-object floating-object-2"></div>
    <div class="floating-object floating-object-3"></div>
    <div class="floating-object floating-object-4"></div>
    <div class="floating-object floating-object-5"></div>
    <div class="floating-object floating-object-6"></div>
    <div class="floating-object floating-object-7"></div>
    <div class="floating-object floating-object-8"></div>
    <div class="floating-object floating-object-9"></div>
    <div class="floating-object floating-object-10"></div>
</div>