<div class="profile-wrapper">
  <div class="glass-container">
    <div class="profile-header">
      <img 
        [src]="profilePicture" 
        alt="Profile Picture" 
        class="profile-pic"
        (error)="handleProfilePictureError()"
        onerror="this.onerror=null; this.src='https://via.placeholder.com/180';"
      >
      <h1 class="employee-name">{{ fullname }}</h1>
    </div>
    <div class="details-container">
      <div class="profile-detail">
        <i class="icon-email"></i>
        <div class="detail-content">
          <span class="detail-label">Email</span>
          <p>{{ email }}</p>
        </div>
      </div>

      <div class="profile-detail">
        <i class="icon-calendar"></i>
        <div class="detail-content">
          <span class="detail-label">Birthday</span>
          <p>{{ birthday }}</p>
        </div>
      </div>

      <div class="profile-detail">
        <i class="icon-department"></i>
        <div class="detail-content">
          <span class="detail-label">Department</span>
          <p>{{ department }}</p>
        </div>
      </div>
    </div>
  </div>
</div>