<!-- sidenav.component.html -->
<div class="main-layout">
  <div class="side-nav">
    <div class="main-nav-content">
      <div class="side-nav-header">
        <span>Portal</span>
      </div>
      <ul class="side-nav-links">
        <li class="profile-link">
          <a (click)="toggleProfileDropdown()">
            <i class="fas fa-user"></i>
            <span>Profile</span>
          </a>
          <ul class="dropdown-menu" [class.show]="isProfileDropdownVisible">
            <li><a routerLink="/profile">View Profile</a></li>
            <li><a routerLink="/updateprofile">Update Profile</a></li>
          </ul>
        </li>
        <li [class.shifted]="isProfileDropdownVisible">
          <a routerLink="/home" routerLinkActive="active-link">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li [class.shifted]="isProfileDropdownVisible">
          <a routerLink="/tasks" routerLinkActive="active-link">
            <i class="fas fa-tasks"></i>
            <span>Tasks</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="logout-container">
      <button class="logout-button" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </button>
    </div>
  </div>
  <div class="main-content">
    <div class="floating-object floating-object-1"></div>
    <div class="floating-object floating-object-2"></div>
    <div class="floating-object floating-object-3"></div>
    <div class="floating-object floating-object-4"></div>
    <div class="floating-object floating-object-5"></div>
    <div class="floating-object floating-object-6"></div>
    <div class="floating-object floating-object-7"></div>
    <div class="floating-object floating-object-8"></div>
    <div class="floating-object floating-object-9"></div>
    <div class="floating-object floating-object-10"></div>
    <router-outlet></router-outlet>
  </div>
</div>