/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    
}
/* Ensure the Poppins font is applied to all SweetAlert elements */
.swal2-popup {
    font-family: 'Poppins', sans-serif !important; /* Force Poppins font */
  }
  
  .swal2-title {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600; /* Set font weight */
  }
  
  .swal2-html-container {
    font-family: 'Poppins', sans-serif !important;
  }
  
  .swal2-confirm {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600; /* Set font weight */
  }
  